[submodule "vendor/base64"]
	path = vendor/base64
	url = https://github.com/aklomp/base64.git

[submodule "vendor/zstd"]
	path = vendor/zstd
	url = https://github.com/facebook/zstd.git
[submodule "vendor/lz4"]
	path = vendor/lz4
	url = https://github.com/lz4/lz4.git
