mscompress
mscompress.dSYM/
*.o
*.msz
*.mzML
vgcore.*
.vscode/*
.DS_Store
heaptrack*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
*.a
node_modules/
package-lock.json
*.vcxproj*
*.log
*.obj
*.sln
*.recipe
*.tlog
*.lib
cli/Debug/*
mscompress-win32-x64*
*.pdb