[submodule "vendor/base64"]
	path = vendor/base64
	url = https://github.com/aklomp/base64.git

[submodule "vendor/cloudflare-zlib"]
	path = vendor/cloudflare-zlib
	url = https://github.com/cloudflare/zlib.git