html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;  /* Remove underline from all <a> elements */
}

img {
    -webkit-user-drag: none; /* Don't let images be draggable */
}

/* Generic classes */
.hidden {
    display: none;
}

/* Titlebar */
.titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    -webkit-app-region: drag;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    -webkit-app-region: drag;
}

.header > #msc_logo {
    display: block;
    height: 30px;
    padding: 12px 10px 8px 10px;
    margin: auto 0;
}

.header > .info {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 10px;
}

.header > .info > p {
    text-align: right;
    font-weight: lighter;
    font-size: 12px;
    font-style: italic;
    margin: 0;
}

/* Content */
.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 99px);

}

.content > .container {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    height: 100%;
    background-color: hsl(0 0% 99% / 1);
    transition: background-color 0.3s;
}

/* Left container */

/* dragover class for file hover */
.content > .container#left-container.dragover {
    background-color: #64B5F6;
}

/* Placeholder class */
.content > .container#left-container > .placeholder {
    margin: auto;
    text-align: center;
    font-size: 14px;
}


/* Center container */

.content > .container#center-container {
    background-color: hsl(0 0% 97% / 1);
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    height: 33px;
    width: 100%;
    gap: 10px;
}

.footer > #gao_lab_banner {
    padding: 6px;
    filter: opacity(0.5);
}

.footer > #github_logo {
    padding: 8px;
    filter: opacity(0.5);
}